<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads.ejs') %>
    <title>
        <%= tittle %>
    </title>
</head>
<body>
  
    <%- include('../partials/nav.ejs') %>
<div class="container">

    <h1>about page</h1>
</div>
    
</body>
</html>