<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/heads.ejs') %>
    <title>
        <%= tittle %>
    </title>
</head>
<body>
  
    <%- include('../partials/nav.ejs') %>
<div class="container">

    <h1>Our Products</h1>
    <!-- react js app components -->
    <!-- connect react with our app we use cdn -->
    <div id="app" class="container mt-4" ></div>

    <%- include('../partials/script.ejs') %>
    


</div>
    
</body>
</html>